.container_outer {
    overflow: scroll;
    background: linear-gradient(180deg, #0000ff, #00ffff);
}

.container_grid {
    height: 70vh;
    margin: 30px auto;
    background-color: #e6e6fa;
    display: grid;
    grid-auto-rows: 250px;
    grid-template-columns: repeat(auto-fill, 200px);
    overflow-y: scroll;
    scrollbar-width: thin;
    border-radius: 20px;
}
@media screen and (min-width:480px) {
    .container_grid {
        width: 400px;
    }
    .player_bar_area {
        width: 400px;
    }
}
@media screen and (min-width:768px) and (max-width:1024px) {
    .container_grid, .player_bar_area {
        width: 620px;
    }
}
@media screen and (min-width:1024px) {
    .container_grid, .player_bar_area {
        width: 820px;
    }
}

.player_bar_area {
    background-color: #21D4FD;
    background-image: linear-gradient(330deg, #21D4FD 0%, #B721FF 100%);
    height: 55px;
    margin: 30px auto;
    border-radius: 20px;
    border: 1px solid #ffffff;
}

.player_bar {
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 6px auto;
}

.container_grid::-webkit-scrollbar {
    width: 15px;
}

.container_grid::-webkit-scrollbar-thumb {
    background: #ff8095;
    border-radius: 5px;
}

.container_grid::-webkit-scrollbar-track {
    background: #ffe6ea;
}

.message_area {
    font-family: courier;
    margin: 5px;
}

.grid_element {
    background: linear-gradient(180deg, #cc99ff, #ffb266);
    border: 1px solid #7f00ff;
    margin: 10px;
    height: 200px;
    border-radius: 20px;
    position: relative;
}

.grid_overlap {
    background: rgba(0, 0, 0, 0);
    width: 100%;
    height: 200px;
    border-radius: 20px;
    position: absolute;
}

.grid_overlap:hover {
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.image_area {
    margin: 15px 15px 0px 15px;
}

.view_id_area {
    background-color: rgba(255, 255, 255, 0.553);
    text-align: center;
    font-family: courier;
    border-radius: 20px;
}

.selected_id_area {
    font-family: courier;
    display: flex;
    align-items: center;
    border: 1px solid #ffffff;
    color: #ffffff;
    padding: 0px 5px;
    background-color: rgba(0, 0, 0, 0.2);
}

.circle_icon {
    color: #ebfaff;
    pointer-events: none;

}

.button_style {
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
}